@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Hind', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

header {
	margin-top: 1%;
}

h1 {
	font-size: 4em;
	font-weight: 300;
	font-weight: bold;
}

h2 {
	margin-top: -.2%;
	font-size: 2em;
	font-weight: 400;
}

#coffe {
	position: absolute;
	top: 5px;
	right: 5px;
}

h2 a {
	color: black;
}

hr {
	width: 95%;
	border: solid .5px #aaa;
	margin-top: 1%;
}

#instructions {
	display: inline-block;
	font-size: 1.3em;
	padding-top: 2%;
	padding-bottom: 2%;
}

#instructions div {
	display: inline-block;
	margin-right: 5%;
	margin-bottom: 1%;
}

#instructions div:last-block {
	margin-right: 0;
}

#instructions p {
	margin-top: 1%;
	font-size: .9em;
}

section {
	font-size: 1.2em;
	text-align: justify;
	margin-top: 2%;
	width: 80%;
	padding-left: 4%;
	padding-right: 4%;
	margin-left: auto;
	margin-right: auto;
}

section div.circle {
	display: inline-block;
	margin-left: 2%;
	width: 70px;
	height: 70px;
	border: solid 1px #aaa;
	border-radius: 100%;
	position: absolute;
}

section input#base {
	font-size: 1.2em;
	width: 70%;
	border: none;
	text-align: center;
	margin-left: 5%;
	margin-top: 28%;
}

section span#base {
	display: inline-block;
	margin-top: 2%;
}

section .not_linear_info{
	margin-left: 2%;
}

section input#txt_not_linear {
	width: 53%;
	font-size: 1.5em;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

section div#graph-wrapper {
	display: none;
}

section canvas#graph_incentives{
	height: 400px!important;
	margin-top: 2%;
	display: none;
}

section div.fund-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

section div.fund {
	display: inline-block;
	width: 20em;
	height: 20em;
	border-radius: 100%;
	border: solid 2px #aaa;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

section div.fund span {
	display: inline-block;
	position: relative;
}

section div.fund span {
	margin-bottom: 10%;
	display: none;
}


section div.fund span.amount {
	display: block!important;
	font-size: 3em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	margin-top: 25%;
	position: relative!important;
	color: black!important;
}

section div.fund:hover {
	cursor: pointer;
}

section div.fund#fail {
	background-color: rgb(220,50,70);
	border-color: rgb(200,30,50);
	left: 0;
	margin-left: 0;
}

section div.fund#success {
	background-color: rgb(70,200,50);
	border-color: rgb(50,180,30);
	right: 0;
	margin-left: 5%;
}

footer {
	display: block;
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 5%;
	z-index: 10;
	background-color: rgba(255,255,255,.9);
}

footer hr {
	margin-top: .5%;
	margin-bottom: .5%;
}

footer.alert {
	display: none;
	color: white;
	background-color: rgb(220,50,70);
	width: 100%;
	bottom: 0;
	height: 5%;
	z-index: 100;
	padding-top: 1%;
	font-size: 1.1em;
}

footer.ok {
	display: none;
	color: white;
	background-color: rgb(70,200,50);
	width: 100%;
	bottom: 0;
	height: 5%;
	z-index: 100;
	padding-top: 1%;
	font-size: 1.1em;
}